:root{
    --primary-color:#252B42;
    --second-color: #737373;
    --btn-color: #FF7B47;
    --cdt-color: #ffffff;
}
header{
    background: url(/assets/images/fondoXD.jpg);
    width: 1350px;
    height: 925px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    
}
body{
    font-family: "Montserrat", sans-serif;
    height: 2000px;
}      
    nav{
        display: grid;
        grid-template-columns: 20% 40% 40%;
        height: 100px;
        padding: 0px 50px 0px 50px;
    }
    nav > div:nth-child(1){
        display: flex;
        align-items: center;
        color: var(--primary-color);
    } 
    
    nav > div:nth-child(2){
        display: flex;
        align-items: center;
        color: var(--second-color);
    }
    
    nav > div:nth-child(3){
        display: flex;
        align-items: center;
        justify-content: end;
    }
    nav h3{
        margin: 0;
    }
    nav a{
        text-decoration: none;
        color: var(--second-text-color);
        font-weight: 600;
        margin-right: 15px;
    }
    
    .baner{
        width: 500px;
        height:600px;
        padding-left: 50px;
    }
    .baner h1{
        font-size: 50px;
        font-weight: 800;
        line-height: 80px;
        text-align: left;

    } 
    .baner p{
        font-size: 20px;
        font-weight: 500;
        line-height: 50px;
        color: var(--second-color);
    }
    div button{

        font-size: 14px;
        weight: 700;
        height: 50px;
        border-radius: 20px;
    }
    button.btn-primari{
        border: var(--btn-color);
        background-color: var(--btn-color);
        color: var(--primary-color);   
    }
    button.btn-transparent{
        background-color: transparent;
        color: var(--primary-color);
    }
    #list-servises{
        display: grid;
        grid-template-columns: 25% 25% 25%;
        column-gap: 25px;
        justify-content: space-between;
        height: 182px;
        position: absolute;
        bottom: 100px;
    }
     .icons{
        width: 250px;
        height: 182px;
        padding: 35px 45px 35px 45px;      
        color: var(--primary-color);
        background-color:var(--cdt-color);
    }
    .s3{
        width: 250px;
        height: 182px;
        padding: 35px 45px 35px 45px;
        color: var(--cdt-color);
        background-color: #0D5C63;
    }
    .hoja2{
        background-color: #FAFAFA;
        width: 1050px;
        height: 526px;
        left: 366px;
        padding: 80px 0px 80px 0px;
    }
    .title{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 864px;
        height:150px;
    }
    #items{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        column-gap: 5px;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width:1049px;
        height:209px;
        
    }
    .cub{
        width: 130px;
        height: 80px;
        color: var(--primary-color);
        padding: 30px 40px 30px 40px;
        background-color: var(--cdt-color);
    }
    